/* 
author:
github:  
email: 
date: 
project: 
version: 1.0.0
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');
:root{
    --main-color: #000;
    /* --secondary-color: #6a0000; */
    --secondary-color: #0085a3;
    --main-text-color: #bababa;
    --secondary-text-color: #6a0000;
    --main-background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(106,0,0,1) 100%);
    --main-background: linear-gradient(90deg, var(--main-color) 0%, var(--secondary-color) 100%);
    --main-font: "Poppins", sans-serif;

}

/*----------- Gerneral -------------*/

* {
    font-weight: 400;
    font-style: normal;
    font-family: var(--main-font);
    /*  font-size: 1.2vw; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--main-text-color);
    scroll-behavior: smooth;
}
::selection {
    background: var(--main-color);
    color: red;
  }
body {
    line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--main-font) !important;
    margin: 10px 0;
}
h1, h2, h3{
    font-weight: 200 !important;
}
h1 {
    /* font-size: 2.986rem; */
    font-size: 50px !important;
    /* position: sticky; */
    top: 4vh;
    z-index: 999;
}
h2 {
    /* font-size: 2.488rem; */
    font-size: 4vw;
    z-index: 999;
}

h3 {
    /* font-size: 2.074rem; */
    font-size: 3vw;
}

h4 {
    /* font-size: 1.728rem; */
    font-size: 2vw;
}

h5 {
    /* font-size: 1.44rem; */
    font-size: 1vw;
}

h6 {
    /* font-size: 1.2rem; */
    font-size: 0.7vw;
}

p {
    font-size: 1rem;
    /* font-size: 1vw; */
    margin: 10px 0;
}

.small {
    font-size: 0.8rem;
}
/* ---------------------------Responsive------------------------- */
@media screen and (max-width: 440px) {
    .nav ul{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .nav{
        padding-bottom: 100px;
    }
}
@media screen and (max-width: 420px) {
    .last-ul{
        flex-direction: column;
    }
}

@media screen and (max-width: 620px) {
    .bg {
        display: none;
    }
}
@media screen and (max-width: 769px) {
    .container{
        display: flex !important;
        flex-direction: column;
    }
    .card {
        margin-bottom: 50px;
    }
    html .hero, .about, .skills, .projects, .feedbacks, .footer{
        width: 100vw !important;
        height: auto;
    }
    .img-cont {
        grid-row: 1 / 2 !important;
        grid-column: 1 / 3;
        width: 40vw !important;
        margin-top: 5vh;
    }
    .button, .arrow{
        display: none;
    }
    .about-list{
        margin-top: 50px;
        display: flex !important;
        flex-wrap: wrap;
    }
    .skills-list{
        display: flex !important;
        flex-direction: column;
    }
    .projects-container{
        display: flex !important;
        flex-direction: column;
        overflow: scroll;
        height: auto !important;
    }
    .parent1{
        height: 80vh !important;
    }
    .feedback{
        width: 100vw;
    }
    .footer{
        height: 30vh;
    }
    .back-to-top-btn{
        display: none;
    }
    .links{
        display: flex !important;
    }
    .links a{
        margin: 0 10px;
    }
    h1 {
        font-size: 50px;
    }

    .hero{
        display: flex !important;
        flex-direction: column;
        justify-content: center;
    }
    .intro{
        height: fit-content !important;
    }
    .intro_center{
        height: 50%;
        align-content: center;
        flex-wrap: wrap;
        text-align: center;
    }
    .intro_center .button{
        align-self: center;
    }
    .divider{
        display: block !important;
        border-bottom: #bababa 1px solid;
    }

  }
  @media screen and (max-width: 940px) {
    nav{
        width: 100% !important;
    }
}
/* ----------------------------Animations---------------------------- */
@keyframes progressBar {
    from { width: 0; }
  }
/* ------------------------------------------------------------------- */
h1{
    font-family: var(--main-font);
}
img{
    filter: grayscale(1);
}
img:hover{
    filter: none;
    transition: all 0.5s;
    transform: scale(1.1);
    z-index: 999;

}
.nav{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: sticky;
    top: 0;
    background: var(--main-background);
    height: 6vh;
    align-items: center;
    z-index: 999;
}
nav ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column: 2/3;
    list-style: none ;
    margin: auto;
    text-align: center;
}
nav li{
    margin: 10px;
    border-bottom: solid 2px var(--main-text-color);
    height: 80%;
}
nav li:hover{
    color: var(--secondary-color);
    border-bottom: var(--secondary-color) solid 2px;
    transition: all 0.5s;
}
nav a{
    text-decoration: none;
}
.nav .button {
    justify-self: start;
    align-self: center;
    margin-top: auto;
    margin-left: 18px;
}
.container{
    /* background: rgb(63,209,251);background: radial-gradient(circle, rgba(63,209,251,1) 0%, rgba(252,70,150,1) 100%); */
    grid-column: 2 / 3;
    display: grid;
    grid-template-rows: repeat(5, 100vh) 30vh ;
}
.hero-container, .about, .projects, .feedbacks, .footer{
    display: flex;
    flex-direction: column;
}
.hero{
    /* background-color: var(--main-color); */
    background: var(--main-background);
    color: var(--main-text-color);
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto 60% auto;
    grid-gap: 30px;
    justify-content: center;
    align-items: center;
}
.img-cont{
    grid-row: 2/3;
    width: 20vw;
    border: 4px solid var(--main-text-color);
    border-radius: 50%;
}
.img-cont img{
    border-radius: inherit;
}
.button{
    width: fit-content;
    text-decoration: none;
    color: var(--main-text-color);
    border: var(--secondary-color) 2px solid;
    padding: 1vh 1.5vw;
    border-radius: 30px;
}
.button:hover{
    color: #000;
    background-color: #bababa;
    transform: scale(1.1);
    transition: all 0.5s;
}
.intro{
    grid-row: 2/3;
    width: 100%;
    height: 100%;
}
.intro_center{
    height: 100%;
    justify-content: center;
    /* align-items: center; */
    display: flex;
    flex-flow: column;
}
.img-cont img{
    width: 100%;
    height: auto;
    background-color: #000;
}
.arrow{
    /* position: absolute; */
    text-align: center;
    width: fit-content;
    margin: auto;
}
/* .arrow-down :hover{
    transform: translate3d(0, 30%, 0);
    transition: all 0.5s;
    
}
.arrow-up :hover{
    transform: translate3d(0, -30%, 0);
    transition: all 0.5s;
} */
.arrow:hover{
    transform: rotate(360deg);
    transition: all 0.4s;
    padding: 5px;
}
.arrow-up{
    margin-top: 6vh;
}
.arrow img{
    width: 30px;
}
.arrow-down{
    /* text-align: center; */

}
.arrow-down-1{
    grid-row: 3;
    grid-column-start: 1;
    align-self: center;
    grid-column-end: 3;
    align-self: self-end;
}
.arrow3{
    align-self: end;
}
.bg-container{
    position: relative;
}
.bg{
    position: absolute;
    font-size: 120px;
    top: calc(50% - 34px);
    /* left: calc(50% - 179px); */
    color: rgba(0, 0, 0, 0);
    -webkit-text-stroke: 1px var(--main-text-color);
    opacity: 0.3;
}
.bg-about{
    left: calc(50% - 181px);
    top: calc(50% - 54px);
}
.bg-skills{
    left: calc(50% - 142px);
    top: calc(50% - 66px);
}
.bg-projects{
    left: calc(50% - 235px);
    top: calc(50% - 56px);
}
.bg-feedbacks{
    top: calc(50% - 33px);
    left: calc(50% - 323px);
    font-size: 100px;
}

.section-header{
    text-align: center;
    margin-top: 16vh;
}
.about{
    color: var(--main-text-color);
    background: var(--main-background);
}

.content{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-rows: 50% auto;
    grid-row-gap: 50px;
}
.about-p{
    margin: 0;
    font-size: 18px;
}
.about-list{
    display: grid;
    grid-template-columns: auto auto;
    grid-row-gap: 14px;
    list-style: none;
}
.bold{
    font-size: 18px;
    text-decoration: underline;
}
.skills{
    background: var(--main-background);
    display: grid;
}
.skills-list{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
    column-gap: 20px;
    list-style: none;
}
.skills-list i{
    display: block;
    font-size: 36px;
}

li:hover .child{
    animation: progressBar 1s;
}
.technical{
    grid-template-rows: 1fr 1fr 1fr;
}
.langs{
    grid-template-rows: 1fr;
}
/*---------------------Progress bar ---------------------- */
.progress-bar{
    align-items: center;
    column-gap: 16px;
    display: grid;
    grid-template-columns: 70% auto;
}
.parent1, .child1{
    border-radius: 30px;
    height: 10px;
}
.parent1{
    display: flex;
    overflow: hidden;
    height: 60vh;
    width: 100vw;
    flex-shrink: unset;
    align-items: center;
    flex-direction: column;
  }
  
.child1{
    background-color: var(--secondary-color);
  }

.toggle{
    margin-top: -4vh;
  }
/* -------------------------------------------------------- */
.projects{
    background: var(--main-background);
}
.projects-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    justify-content: center;
    width: 80%;
    height: 60vh;
    margin: auto;
    margin-top: 20px;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.card img{
    aspect-ratio: 1.6 / 1;
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 0 29px 0 var(--main-color);
}
.feedbacks{
    background: var(--main-background);
    align-items: center;
}
/* ---------------------------------------------------- */
body{
    --opacity-element1: 1;
    --opacity-element2: 0;
    --opacity-element3: 0;
 }
.parent{
    display: flex;
    text-align: center;
    justify-content: flex-start;
    height: 1.5vh;
    border-radius: 20px;
    border: 2px solid var(--main-text-color);
}
.child{
    background-color: var(--main-text-color);
    border-radius: inherit;
}
#element1, #element2, #element3{
    display: flex;
    flex-direction: column;
}
#element1{
    position: absolute;
    margin: auto;
    opacity: var(--opacity-element1) ;
    grid-column: var(--grid-place-element1);
}
#element2{
    position: absolute;
    margin: auto;
    opacity: var(--opacity-element2);
    grid-column: var(--grid-place-element2);
}
#element3{
    position: absolute;
    margin: auto;
    opacity: var(--opacity-element3);
    grid-column: var(--grid-place-element3);
}
#feedbacks:target,
#element1:target{
    transition: 1s;
    /* margin-left: calc(50vw - 150px); */
    /* order: -1; */
    --opacity-element1: 1;
    --opacity-element2: 0;
    --opacity-element3: 0;
}
#element2:target{
    transition: 1s;
    --opacity-element1: 0;
    --opacity-element2: 1;
    --opacity-element3: 0;
}
#element3:target{
    transition: 1s;
    /* margin-left: calc(50vw - 450px); */
    /* order: -1; */
    --opacity-element1: 0;
    --opacity-element2: 0;
    --opacity-element3: 1;
}

/* ---------------------------------------------------- */
.feed-container{
    /* display: grid; */
    /* grid-template-rows: 1fr 1fr 1fr; */
    width: 80%;
    align-items: center;
    margin: auto -1;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-self: center;
    font-size: 60px;
    justify-content: space-evenly;
    height: 50vh;
    /* min-width: 600px; */
}
.feed1{
    display: var(--display-feed1);
    grid-column: 2/3;
}
.feed2{
    display: var(--display-feed2);
}
.feed3{
    display: var(--display-feed3);
}

#feed1:target{
    --display-feed1: grid;
    row-gap: 50px;
}
#feed2:target{
    --display-feed2: grid;
    row-gap: 50px;
}
#feed3:target{
    --display-feed3: grid;
    row-gap: 50px;
}
.feedback{
    text-align: center;
    font-size: 20px;
}
.feed-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-self: center;
    font-size: 60px;

}
.person{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.person img{
    width: 100px;
    border-radius: 50%;
    border: solid;
}
.name{
    font-size: 20px;
    font-weight: 500;
}
.major{
    font-size: small;
}
.footer{
    background: var(--main-color);
}
.links-container{
    display: flex;
    justify-content: center;
    font-size: 3vh;
    margin: auto 0px;
}

/* .links-container::after, .links-container::before{
    content: '';
    display: inline-block;
    width: 35vw;
    height: 1px;
    background-color: var(--main-text-color);
    margin: 0;
    align-self: center;
} */
.back-to-top-btn{
    align-self: center;
    margin-top: -3vh;
}
.line{
    border-top: #ff0000 solid 2px;
}
.links{
    display: flex;
    list-style: none;
    width: fit-content;
    text-align: center;
    justify-content: space-around;
    width: 20%;
}
.links  li:hover{
    aspect-ratio: 13 / 1;
    border-radius: 50%;
    transition: transform 0.3s;
    transform: scale(1.5);
    border: var(--secondary-color) solid 2px;
}
.last-ul{
    display: flex;
    list-style: none;
    justify-content: center;
    margin-bottom: auto;
}
.last-ul li {
    margin: 0 16px;
}
.last-ul i{
    font-size: 18px;
}

.nav ul li.active {
    border-color: var(--secondary-color);
    color: var(--secondary-color);
  }  
.nav ul li.active a{
    color: var(--secondary-color);
  }
